<configuration>

	<springProperty scope="context" name="log_dir" source="log.path"/>
	<springProperty scope="context" name="log_level" source="log.level"/>

	<!-- definition of appender STDOUT -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web" level="INFO"/>
	<logger name="com.netflix.eureka" level="INFO"/>
	<logger name="com.flame" level="DEBUG"/>

	<root level="${log.level}">
		<!-- appender referenced after it is defined -->
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>