<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scaffold.mapper.user.UserMapper">


    <resultMap id="selectUserAndAuthoritiesMap" type="com.scaffold.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="last_password_reset_date" property="lastPasswordResetDate" jdbcType="TIMESTAMP"/>


        <collection property="authorities" ofType="authority">
            <result column="a_name" property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <select id="selectUserAndAuthorities" parameterType="map" resultMap="selectUserAndAuthoritiesMap">
        SELECT
            u.*,
            a. NAME AS a_name
        FROM
            USER u
        LEFT JOIN user_authority ua ON ua.user_id = u.id
        LEFT JOIN authorty a ON a.id = ua.authority_id
        WHERE 1 = 1
            and u.user_name = #{userName}
  </select>
</mapper>